on:
  push:
    branches:
      - main

name: Deploy website on push

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Get latest code
        uses: actions/checkout@v3

      - name: Deploy via SFTP
        uses: appleboy/scp-action@v0.1.5
        with:
          server: devzonebd.com
          username: github_ftp@perfex.devzonebd.com
          password: ${{ secrets.NEW_PASSWORD }}

          protocol: sftp
          port: 22
          passive: false

          local-dir: "./"
          server-dir: "/"

          timeout: 180m
          dangerous-clean-slate: false
          log-level: verbose

          exclude: |
            **/.git*
            **/.github*
            **/node_modules/**
            **/vendor/**
